<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
     {% comment %} nav bar  {% endcomment %}
    {{>navbar}}
    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                       <h1>404 Eroor</h1>  
                    
                        <a href="/"><button>Go Back</button></a>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>