<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
     {% comment %} nav bar  {% endcomment %}
    {{>navbar}}
    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/RjRL_tKdNHg" title="Rotoriom   Best WordPress Themes, Plugins And Affiliate Programs  The Digital Web Building Resources" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Right information at the right place, saves time, saves money. Money builds assets. Make best use of Time and Money.</p>
                        <p><span class="text_clr">RoTorioM</span> – Promotes Web Development tools- WordPress Themes, WordPress Plugins, e-commerce tools, Affiliate Programs, Gadgets & Accessories, Blogs, Personalized Advertisements.</p>
                        <a href="https://www.rotoriom.com/" target="_blank"><button>About Me</button></a>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>